{% extends 'baseadmin.html.twig' %}

{% block title %}Agents index{% endblock %}

{% block body %}
    <h1>Agents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>NumTel</th>
                <th>DateNaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.ref }}</td>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.email }}</td>
                <td>{{ agent.motDePasse }}</td>
                <td>{{ agent.numTel }}</td>
                <td>{{ agent.dateNaissance ? agent.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_agents_show', {'id': agent.id}) }}">show</a>
                    <a href="{{ path('app_agents_edit', {'id': agent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agents_new') }}">Create new</a>
{% endblock %}
