{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <h1>Rendez-Vous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id Rendez-Vous</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ rendez_vou.ref }}</td>
            </tr>
            <tr>
                <th>Date du Rendez-Vous</th>
                <td>{{ rendez_vou.daterdv ? rendez_vou.daterdv|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Id Propriétaire</th>
                <td>{{ rendez_vou.idc1 }}</td>
            </tr>
            <tr>
                <th>Id Visiteur</th>
                <td>{{ rendez_vou.idc2 }}</td>
            </tr>
            <tr>
                <th>Lieu du Rendez-Vous</th>
                <td>{{ rendez_vou.lieurdv }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('rendez_vous/_delete_form.html.twig') }}
    <br><a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}"><button class="btn btn-info">Modifier</button></a>
    <br><a href="{{ path('app_rendez_vous_index') }}"><button class="btn btn-info">Retour</button></a>


    <button id ="a" class="btn" style="background: red">
        <a class="fa fa-bars" style="color: #FFFFFF" > confirmer rendez vous</a>
    </button>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>
            $('#a').on('click', function() {


                $.ajax({
                    method: "POST",
                    url: "http://127.0.0.1:8000/rendez/vous/res/reservation",
                    data: { email: "ghassenbahry69@gmail.com", // app.user.username

                    }
                })
                    .done(function( msg ) {
                        if(msg == "true") {
                            alert(" rendez-vous confirme! ");
                            window.location.replace("http://127.0.0.1:8000/rendez/vous");

                        }
                    } )
            });
        </script>

    {% endblock %}

{% endblock %}
