{% extends 'templateBack.html.twig' %}
{% block title %}New Agence{% endblock %}

{% block body %}
    <div style=" margin-right: 200px;">
        <div style=" ">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Ajouter une Adresse </h3></div>
            <div class="card-body">
                {{ form_start(f) }}

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>Avenue</label>
                            {{ form_widget(f.avenue,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div >
                            <label>Numéro de rue</label>
                            {{ form_widget(f.numeroRue,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>Code Postal</label>
                            {{ form_widget(f.codePostal,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div >
                            <label>Region</label>
                            {{ form_widget(f.id_Agence,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>

                {{ form_end(f) }}

            </div>

        </div>
    </div>

{% endblock %}
