{% extends 'templateFront1.html.twig' %}
{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <h1>Lite des Agences</h1>
    <form method="post" action="{{ path('rechercheAgencefront') }}">
        <label>Recherche</label>
        <input type="text" name="search"><input type="submit" value="Recherche">
    </form>
    <hr>
    <table border="1">
        <tr>
            <th>Region</th>
            <th>Numero Telephone</th>
            <th>Email</th>
            <th>Site Web</th>
            <th>Nom du responsable</th>


        </tr>

        <tr{% for c in agence %} >
            <td>{{ c.region }}</td>
            <td>{{ c.numeroTel }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.webSite }}</td>
            <td>{{ c.nomDuResponsable }}</td>



        </tr {% endfor %} >
    </table>
    <a href="{{ path('affichesfront')}}"><button class="btn btn-info">Back</button></a>

    <hr>
    </body>
    </html>
{% endblock %}
