<div style=" align-items: center; margin-right: 20%; margin-left: 20%; border-style: solid;
  border-width: 5px 5px; ">
    <div style="margin-left: 30%">
        <h2 style="align-items: center">details devis</h2>
        <br>

        <table style="align-items: center" class="table">

            <tbody>

            <tr>
                <th data-sortable="">Reference</th>
                <td>{{ devis.ref }}</td>
            </tr>

            <tr>
                <th >Nom commercial</th>
                <td>{{ devis.nomCommercial }}</td>
            </tr>

            <tr>
                <th>Nom client</th>
                <td>{{ devis.nomClient }}</td>
            </tr>

            <tr>
                <th>Mission</th>
                <td>{{ devis.mission }}</td>
            </tr>

            <tr>
                <th>Prix TTC</th>
                <td>{{ devis.prixTtc }}</td>
            </tr>


            <tr>
                <th>Description</th>
                <td>{{ devis.description }}</td>
            </tr>

            </tbody>
        </table>
        <br>
    </div>
</div>
