{% extends 'base.html.twig' %}

{% block title %}Liste des contrats{% endblock %}

{% block body %}
    <div  style=" margin-top: 5%">
        <h1 class="col-md-6"> Liste des Contrats</h1>
        <div class="row mb-3" style="margin-left: 0.5%">
            <div class="col-md-6"  >
                <input class="form-control" style="padding-right: 500px" type="text" placeholder="keywords...">

            </div>
            <div class="col-md-6"  >
                <div class="btn btn-primary btn-dark" >
                    <a href="{{ path('app_contrat_new') }}" style="align-items: center; color: white">rechercher</a>
                </div>


            </div>

        </div>
    </div>
    <div class="card-header">
        <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM224 256V160H64V256H224zM64 320V416H224V320H64zM288 416H448V320H288V416zM448 256V160H288V256H448z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
        Accedez aux contrats
    </div>
    <table class="table">
        <thead>
        <tr>

            <th>Reference</th>
            <th>NomBien</th>
            <th>PrixBien</th>
            <th>vendeur</th>
            <th>client</th>
            <th>date</th>
            <th>agent</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>

                <td>{{ contrat.reference }}</td>
                <td>{{ contrat.propriete }}</td>
                <td>{{ contrat.prixBien }}</td>
                <td>{{ contrat.vendeur }}</td>
                <td>{{ contrat.client }}</td>
                <td>{{ contrat.date ? contrat.date|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.agent }}</td>

                <td >
                    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}" class="btn btn-primary btn-success">afficher</a>

                    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}" class="btn btn-primary btn-warning">modifier</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn btn-primary" style="background-color: cyan; display: flex; margin-right: 89%; margin-left: 1%; align-items: center">
        <a href="{{ path('app_contrat_new') }}" style="align-items: center">Create new</a>
    </div>
{% endblock %}
