{% extends 'templatefront.html.twig' %}

{% block body %}
    <div style=" margin-right: 200px;">
        <div style=" ">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Ajouter un bien</h3></div>
            <div class="card-body">
                {{ form_start(form) }}


                <div class="row mb-3">

                    <div class="col-md-6">
                        <div >
                            <label>RefBien </label>
                            {{ form_widget(form.RefBien,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>prix </label>
                            {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div >
                            <label>typeBien </label>
                            {{ form_widget(form.typeBien,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>description </label>
                            {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>



                    <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>surfaceMetre </label>
                            {{ form_widget(form.surfaceMetre,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div >
                            <label>ville </label>
                            {{ form_widget(form.ville,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>numRue </label>
                            {{ form_widget(form.numRue,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div >
                            <label>codePostal </label>
                            {{ form_widget(form.codePostal,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div >
                            <label>numTel </label>
                            {{ form_widget(form.numTel,{'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div >
                            <label>adresseMail </label>
                            {{ form_widget(form.adresseMail,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid">

                        {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-primary btn-block'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}

            </div>

        </div>

    </div>
{# {{ form_start(form) }}
{{ form_widget(form) }}
<button>Ajout</button>
{{ form_end(form) }} #}
{# {{ form(form) }} #}
{% endblock %}